In [22]:
import numpy as np
import pandas as pd

# Part 1

In [78]:
data = open('day_3_input.txt', 'r').read()
data = data.split('\n')
for i, x in enumerate(data):
    data[i] = [int(j) for j in x]
data[:5]

[[1, 0, 1, 0, 1, 1, 1, 1, 1, 0, 0, 1],
 [1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 0],
 [0, 1, 0, 0, 0, 0, 1, 1, 1, 1, 0, 0],
 [1, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0],
 [0, 1, 1, 1, 0, 1, 1, 0, 0, 0, 1, 0]]

In [48]:
test_data = ['00100',
'11110',
'10110',
'10111',
'10101',
'01111',
'00111',
'11100',
'10000',
'11001',
'00010',
'01010'
]

for i, x in enumerate(test_data):
    test_data[i] = [int(j) for j in x]
df_test = pd.DataFrame(test_data)
df_test

    0  1  2  3  4
0   0  0  1  0  0
1   1  1  1  1  0
2   1  0  1  1  0
3   1  0  1  1  1
4   1  0  1  0  1
5   0  1  1  1  1
6   0  0  1  1  1
7   1  1  1  0  0
8   1  0  0  0  0
9   1  1  0  0  1
10  0  0  0  1  0
11  0  1  0  1  0

In [80]:
def binary_to_decimal(binary_data: list) -> int:
    dec = 0
    binary_data.reverse()
    for i, v in enumerate(binary_data):
        dec += 2**(i)*v
    return dec
        
def part_1(data: pd.DataFrame) -> int:
    gamma_bit = data.mode(axis=0).values[0]
    
    epsilon_bit = np.array([])
    for i in gamma_bit:
        j = 1
        if i == 1:
            j = 0
        epsilon_bit = np.append(epsilon_bit, j)
    return int(binary_to_decimal(gamma_bit.tolist())*binary_to_decimal(epsilon_bit.tolist()))

In [81]:
part_1(df_test)

198

In [82]:
df = pd.DataFrame(data)
part_1(df)

3882564

# Part 2

In [83]:
df_test

    0  1  2  3  4
0   0  0  1  0  0
1   1  1  1  1  0
2   1  0  1  1  0
3   1  0  1  1  1
4   1  0  1  0  1
5   0  1  1  1  1
6   0  0  1  1  1
7   1  1  1  0  0
8   1  0  0  0  0
9   1  1  0  0  1
10  0  0  0  1  0
11  0  1  0  1  0

In [144]:
def part_2(data: pd.DataFrame, co_2: bool = False):
    for col in data:      
            
        most_freq = data.iloc[:,col].mode()[0]
        least_freq = 1 if most_freq == 0 else 0;
        count_most_freq = data[data.iloc[:,col]==most_freq].shape[0]
        count_least_freq = data[data.iloc[:,col]==least_freq].shape[0]
        
        if count_most_freq == count_least_freq:
            if co_2:
                bit_mode = 0
            else:
                bit_mode = 1
        else:
            if co_2:
                bit_mode = least_freq
            else:
                bit_mode = most_freq
        
        data = data[data.iloc[:,col] == bit_mode]

        if data.shape[0] == 1:
            bit = data.values.tolist()
            return binary_to_decimal(bit[0])
    
o_2 = part_2(df_test, False)
co_2 = part_2(df_test, True)
solution = o_2* co_2
solution

230

In [145]:
o_2 = part_2(df, False)
co_2 = part_2(df, True)
solution = o_2* co_2
solution

3385170